<div class="col-span-full mt-32 lg:mt-40 flex flex-col gap-y-40">
{{ collection:posts }}
  <article class="grid grid-cols-6 gap-x-6 lg:grid-cols-12 lg:gap-x-20 leading-[1.3] lg:leading-[1.375]">
    <div class="col-span-5 col-start-2 lg:col-span-3 lg:col-start-9 lg:order-2">
      <h2 class="font-semibold">{{ title }}</h2>
      {{ if periode }}
        <div>{{ periode }}</div>
      {{ /if }}
      {{ if text }}
        <div class="mt-24">{{ text }}</div>
      {{ /if }}
    </div>
    {{ if images }}
      <div class="col-span-full lg:col-span-7 lg:col-start-2 lg:order-1 flex flex-col gap-y-6 mt-12 lg:mt-0">
        {{ images }}
          {{ partial:media/image 
            :image="url" 
            class="w-full h-auto"
            :sizes="['2xl', 'xl', 'lg']"
            preset="focal-16-10" }}
        {{ /images }}
      </div>
    {{ /if }}
  </article>
{{ /collection:posts }}
</div>
