<svg width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="block lg:hidden {{ class }}"> 
  <path d="M0.600098 1H22.6001" stroke="currentColor" stroke-width="2"/>
  <path d="M0.600098 7.5H22.6001" stroke="currentColor" stroke-width="2"/>
  <path d="M0.600098 14H22.6001" stroke="currentColor" stroke-width="2"/>
</svg>
<svg width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="hidden lg:block {{ class }}">
  <path d="M0.100098 2H38.1001" stroke="currentColor" stroke-width="3"/>
  <path d="M0.100098 12H38.1001" stroke="currentColor" stroke-width="3"/>
  <path d="M0.100098 22H38.1001" stroke="currentColor" stroke-width="3"/>
</svg>