<body class="max-w-2xl mx-auto lg:max-w-none antialiased font-size-xxs lg:font-size-xs leading-[1.2] flex flex-col min-h-screen {{ !is_homepage ? 'p-15 lg:p-30 lg:pb-0' : 'p-30 lg:p-60 lg:pb-0' }} {{ page_class }}">
  <div class="max-w-page mx-auto w-full {{ !is_homepage ? 'bg-white/90 p-15 lg:p-30 lg:!pb-0 2xl:px-0 min-h-dvh lg:min-h-[calc(100vh_-_30px)]' : '' }}">
    {{ slot:header }}
    {{ if is_homepage }}
      {{ slot:claim }}
    {{ /if }}
    {{ slot }}
  </div>
  {{ vite src="resources/js/app.js" }}
  {{ livewire:scripts }}
</body>